/*@define-color arc-blue #5294e2;*/



/*@define-color arc-blue #3a87e2;*/
@define-color arc-blue #0062f5;
@define-color arc-blue-light #4accf5;
@define-color arc-black #2d323d;
@define-color arc-red #000000;
@define-color arc-blue-hover #629de2;
@define-color arc-blue-active #3aa3e2;
@define-color default-grey #666666;




#ENTRY-FRAME-OFF
{
	border-color: #bbbbbb
}

#ENTRY-FRAME-ON
{
	border-color: @arc-blue
}


#ENTRY-LABEL
{
	color: red;
}


#ENTRY-LABEL:active
{
	color: @arc-blue;
}


#DEFAULT-LABEL
{
	font: 10pt Quattrocento Sans Bold;
	color: #666666;
	
}

#DEFAULT-LABEL:disabled
{
	color: #bbbbbb;
}

#INFO-LABEL
{
	font: 10.5pt Quattrocento Sans Bold;
	color: #888888;
	
}

#INFO-LABEL:disabled
{
	color: #bbbbbb;
}



#HEADER-LABEL
{
	color: @arc-blue;
	font: 12pt Quattrocento Sans Bold;
	font-weight: bold;
	font-size: 12px;
}

 #HEADER_SEPARATOR
{
	color: @arc-blue;

}

#CANCEL_BUTTON
{
	background-color: #ff7f2a;
}

#ACCEPT_BUTTON
{
	background-color: #73d73b;
}

#WHITE-BACKGROUND
{
	background-color: white;
	
}

#BORDERLESS-BUTTON
{
	border: 0px;
}


GtkSeparator
{
	color: #e3e3e3;
}

GtkToolbar
{
	background-color: white;
}


#DARK-BOX
{
	background-color: rgba(0,0,0,0.1);
	/*background-color: rgba(255,50,50,0.2);*/
	/*background-color: rgba(255,255,255,1);*/

}

#CARD-ITEM
{
		background-color: #ffffff;
		/*background-color: rgba(255,120,120,1);*/
		border: 0px;
		/*border-radius: 0;*/
		box-shadow: 0px 1px 2px #666666;
}

#CARD-ITEM:hover
{
		
		box-shadow: 0px 2px 3px #666666;
}

#CARD-ITEM:active
{
		
		background-color: @arc-blue;
}

#CARD-ITEM:active .label
{
		
		color: white;
}


#CONFIGURE-BUTTON
{
		border-width: 0;
		border-radius: 0px;
		box-shadow: 0px 1px 2px #666666;
		border-color: transparent;
		border: none;
		color: white;
		background-color: @arc-blue;
		background-image: url("configure.svg");
		text-shadow: none;
}

#CONFIGURE-BUTTON:hover
{
		background-color: @arc-blue-hover;
		/*box-shadow: 0px 3px 2px #666666;*/
}

#CONFIGURE-BUTTON:active
{
		background-color: @arc-blue-active;
}

#CUSTOM-ENTRY
{
		color: @default-grey;
		border: none;
		/*border-radius: 5px;*/
		background-color: @arc-blue;
		border-bottom: 1px solid #aaaaaa;
		padding: 4px;
		/*background: #eeeeee;*/
		
		/*border-bottom: 2px solid transparent;*/
	
}

#CUSTOM-ENTRY:focus
{
		color: @arc-blue;
		border-bottom: 1px solid @arc-blue-light;
		/*border-bottom: 2px solid rgba(0,0,0,0);*/
		/*background-color: transparent;*/
		
	
}
#CUSTOM-ENTRY:selected
{
	color: white;
}

#CUSTOM-ENTRY:disabled
{
	background-color: #bbbbbb;
	border-bottom: 1px solid transparent;
	color: #999999;
}
