Source: lliurex-shutdowner
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Equipo LliureX <lliurex@gva.es>
Build-Depends: debhelper (>= 10),zero-dev,llxsrchelper,python3-poinstaller
Standards-Version: 4.1.2

Package: lliurex-shutdowner
Architecture: all
Depends: ${misc:Depends}, python3, n4d-qt-agent, python3-n4d-client, pyside6-tools, python3-pyside6.qtqml, python3-pyside6.qtquick, python3-pyside6.qtgui, python3-pyside6.qtwidgets, python3-pyside6.qtquickwidgets, python3-pyside6.qtnetwork
Description: LliureX Shutdowner
 Manage automatic clients shutdown using n4d calls.
 Server should have n4d-shutdowner-server installed, clients n4d-shutdown-client


Package: lliurex-shutdowner-common
Architecture: all
Depends: ${misc:Depends}, python3, pyside6-tools, python3-pyside6.qtqml, python3-pyside6.qtquick, python3-pyside6.qtgui, python3-pyside6.qtwidgets, python3-pyside6.qtquickwidgets, python3-pyside6.qtnetwork
Description: LliureX Shutdowner common files
 Lliurex Shutdowner common support files.


