Source: lliurex-shutdowner
Section: admin
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es>
Uploaders: Angel Berlanas Vicente <lliurex_devel2@edu.gva.es>, Raul Rodrigo Segura <lliurex_devel3@edu.gva.es>,  David Montalva Furio <montalva_dav@gva.es>, Hector Garcia Huerta <lliurex_devel1@edu.gva.es>, Daniel Duran Vecino <daduve@gmail.com>, M.Angel Juan <m.angel.juan@gmail.com>
Build-Depends: debhelper (>= 7.0), llxcfg-dev, zero-dev, llxsrchelper
Standards-Version: 3.9.5

Package: lliurex-shutdowner
Architecture: all
Depends: ${misc:Depends}
Description: LliureX Shutdowner
 Manage automatic clients shutdown using n4d calls.
 Server should have n4d-shutdowner-server installed, clients n4d-shutdown-client


Package: lliurex-shutdowner-common
Architecture: all
Depends: ${misc:Depends}
Description: LliureX Shutdowner common files
 Lliurex Shutdowner common support files.


